
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form action="/Account/LoginSubmit" method="post">
        <button type="submit">Login</button>
    </form>
</body>
</html>
